In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
from pandas import Series, DataFrame

In [5]:
obj = Series([3,6,9,12])

In [6]:
obj

0     3
1     6
2     9
3    12
dtype: int64

In [7]:
obj.values

array([ 3,  6,  9, 12], dtype=int64)

In [9]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
ww2_cas = Series(['800000','500000','300000','210000','400000'],index=['usa','germany','china','japan','korea'])

In [11]:
ww2_cas

usa        800000
germany    500000
china      300000
japan      210000
korea      400000
dtype: object

In [12]:
ww2_cas['usa']

'800000'

In [25]:
'japan' in ww2_cas

True

In [26]:
ww2_dict = ww2_cas.to_dict()

In [27]:
ww2_dict

{'usa': '800000',
 'germany': '500000',
 'china': '300000',
 'japan': '210000',
 'korea': '400000'}

In [28]:
ww2_series = Series(ww2_dict)

In [29]:
ww2_series

usa        800000
germany    500000
china      300000
japan      210000
korea      400000
dtype: object

In [30]:
countries = ['usa','japan','germany','china','korea','argentina']

In [32]:
obj2 = Series(ww2_dict,index=countries)

In [33]:
obj2

usa          800000
japan        210000
germany      500000
china        300000
korea        400000
argentina       NaN
dtype: object

In [34]:
pd.isnull(obj2)

usa          False
japan        False
germany      False
china        False
korea        False
argentina     True
dtype: bool

In [35]:
pd.notnull(obj2)

usa           True
japan         True
germany       True
china         True
korea         True
argentina    False
dtype: bool

In [36]:
ww2_series

usa        800000
germany    500000
china      300000
japan      210000
korea      400000
dtype: object

In [37]:
obj2

usa          800000
japan        210000
germany      500000
china        300000
korea        400000
argentina       NaN
dtype: object

In [39]:
ww2_series + obj2

argentina             NaN
china        300000300000
germany      500000500000
japan        210000210000
korea        400000400000
usa          800000800000
dtype: object

In [40]:
obj2.name = "world war 2 casualties"

In [41]:
obj2

usa          800000
japan        210000
germany      500000
china        300000
korea        400000
argentina       NaN
Name: world war 2 casualties, dtype: object

In [42]:
obj2.index.name = 'countries'

In [43]:
obj2

countries
usa          800000
japan        210000
germany      500000
china        300000
korea        400000
argentina       NaN
Name: world war 2 casualties, dtype: object