In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
dframe = DataFrame({'k1':['x','X','Y','Y','Z'],
                   'K2':['alpha','beta','alpha','beta','alpha'],
                   'dataset1':np.random.randn(5),
                   'dataset2':np.random.randn(5)})

In [3]:
dframe

  k1     K2  dataset1  dataset2
0  x  alpha  0.331365  1.025030
1  X   beta -0.515863 -2.161260
2  Y  alpha -0.056828  0.087550
3  Y   beta  0.141838  0.978311
4  Z  alpha -0.810755 -0.010982

In [4]:
group1 = dframe['dataset1'].groupby(dframe['k1'])

In [5]:
group1

In [6]:
group1.mean()

k1
X   -0.515863
Y    0.042505
Z   -0.810755
x    0.331365
Name: dataset1, dtype: float64