In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [5]:
animals = DataFrame(np.arange(16).reshape(4,4),columns=['W','X','Y','Z'],index=['Dog','Cat','Bird','Mouse'])

In [6]:
animals

        W   X   Y   Z
Dog     0   1   2   3
Cat     4   5   6   7
Bird    8   9  10  11
Mouse  12  13  14  15

In [9]:
behavior_map = {'W':'good','X':'bad','Y':'good','Z':'bad'}

In [10]:
animals_col = animals.groupby(behavior_map,axis=1)

In [ ]:
animals_col.sum()