In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
df_left = DataFrame({'key':['X','Y','Z','X','Y'],'data':range(5)})

In [3]:
df_left

  key  data
0   X     0
1   Y     1
2   Z     2
3   X     3
4   Y     4

In [6]:
df_right = DataFrame({'group_data':[10,20]},index=['X','Y'])

In [7]:
df_right

   group_data
X          10
Y          20

In [8]:
pd.merge(df_left,df_right,left_on='key',right_index=True)

  key  data  group_data
0   X     0          10
3   X     3          10
1   Y     1          20
4   Y     4          20