In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
nan = np.nan

In [3]:
dframe_odds = DataFrame({'X':[1,nan,5,7],'Y':[7,nan,nan,9]})

In [4]:
dframe_even = DataFrame({'X':[nan,2,nan],'Y':[6,nan,8],'Z':[nan,10,12]})

In [5]:
dframe_odds

     X    Y
0  1.0  7.0
1  NaN  NaN
2  5.0  NaN
3  7.0  9.0

In [6]:
dframe_even

     X    Y     Z
0  NaN  6.0   NaN
1  2.0  NaN  10.0
2  NaN  8.0  12.0

In [7]:
dframe_odds.combine_first(dframe_even)

     X    Y     Z
0  1.0  7.0   NaN
1  2.0  NaN  10.0
2  5.0  8.0  12.0
3  7.0  9.0   NaN