In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
from pandas import Series,DataFrame

In [6]:
from numpy.random import randn

In [17]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])

In [6]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [22]:
ser2 = ser1.reindex = (['A','B','C','D','E','F'])

In [14]:
ser2

['A', 'B', 'C', 'D', 'E', 'F']

In [15]:
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [27]:
ser2.reindex=(['A','B','C','D','E','F','G'],fill_value=0)

SyntaxError: invalid syntax (<ipython-input-27-afefce9aaea9>, line 1)

In [28]:
ser3 = Series(['Usa','Mexico','canada'],index=[0,5,10])

In [29]:
ser3

0        Usa
5     Mexico
10    canada
dtype: object

In [30]:
ranger = range(15)

In [31]:
ranger

range(0, 15)

In [32]:
ser3.reindex(ranger,method='ffill')

0        Usa
1        Usa
2        Usa
3        Usa
4        Usa
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    canada
11    canada
12    canada
13    canada
14    canada
dtype: object

In [7]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])

In [8]:
dframe

       col1      col2      col3      col4      col5
A -1.855982  1.071552 -0.602953 -0.201966  1.388450
B -0.524829  0.209552  0.067597 -1.370723 -0.933781
D  1.268968  0.731826 -2.096666 -0.684124  0.986547
E -0.779623 -0.613658  0.738541 -0.292133 -0.524651
F  0.674880  1.349111 -0.437588 -1.508362  0.191636

In [9]:
dframe2 = dframe.reindex=(['A','B','C','D','E','F'])

In [10]:
dframe2

['A', 'B', 'C', 'D', 'E', 'F']

In [11]:
dframe

       col1      col2      col3      col4      col5
A -1.855982  1.071552 -0.602953 -0.201966  1.388450
B -0.524829  0.209552  0.067597 -1.370723 -0.933781
D  1.268968  0.731826 -2.096666 -0.684124  0.986547
E -0.779623 -0.613658  0.738541 -0.292133 -0.524651
F  0.674880  1.349111 -0.437588 -1.508362  0.191636

In [12]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [14]:
dframe2.reindex(columns=new_columns)

AttributeError: 'list' object has no attribute 'reindex'

In [15]:
dframe

       col1      col2      col3      col4      col5
A -1.855982  1.071552 -0.602953 -0.201966  1.388450
B -0.524829  0.209552  0.067597 -1.370723 -0.933781
D  1.268968  0.731826 -2.096666 -0.684124  0.986547
E -0.779623 -0.613658  0.738541 -0.292133 -0.524651
F  0.674880  1.349111 -0.437588 -1.508362  0.191636

In [ ]:
dframe.ix['A',]